@import '../../assets/sass/variables.scss';
@import '../../assets/sass/mixins.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 120px;
    background-color: $backColor;

    @include mobile-only {
        display: block;
        text-align: center;
        padding: 0 5%;
    }

    &__name {
        margin: 0;
        font-weight: 700;
        font-size: 34px;
        color: $textColor;
    }

    &__page {
        margin: 0;
        font-weight: 700;
        font-size: 34px;
        color: $textColor;
    }

    &__nav {
        display: flex;
        font-size: 16px;
        align-items: center;

        @include mobile-only {
            justify-content: space-between;
            margin: 1em 0 0 0;
        }
    }
}

.navigation {
    margin: 0 3em;
    color: $textColor;
    transition: 0.5s;

    @include mobile-only {
        margin: 0;
    }
}

.navigation:hover {
    color: $secColor;
}

.navigation:hover::after {
    width: 100%;
}

.navigation::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    background-color: $secColor;
    transition: $transition;
    opacity: 0.5;
}