$breakpoints: (
    mobile: 768px,
    tablette: 992px,
    desktopmini : 1440px
);

$subtextColor : #54494b;
$textColor : #fff;
$backColor : #0a192f;
$secColor : #08a07c;
$errorColor : #b33951;
$transition : all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);